<h1>Hogwarts School of Witchcraft & Wizadry</h1>

<%= form_tag("/cast-spell", method: "post") do %>
  <%= label_tag(:phrase, "Cast a spell...") %>
  <%= text_field_tag(:phrase) %>
  <%= submit_tag("Invoke it!") %>
<% end %>

<h2><%= @thing %></h2>